body {
  background-color: #262626;
  color: #fefefe;
}

a {
  transition: all 0.2s ease-in-out;
  color: #fefefe;
  text-decoration: none;
}

a:hover {
  transition: all 0.2s ease-in-out;
  color: #ada24b;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  background-color: #212126;

  font-size: 20px;
}

.refresh {
  background-color: #212126;
  color: #fafafa;
  font-weight: bold;
  font-size: 18px;
  border: #ada24b 2px solid;
  border-radius: 10px;

  width: 100px;
  height: 50px;

  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

#refButton:hover {
  scale: 1.05;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  /* highlight using shadow */
  box-shadow: 0 0 0 0.2rem rgba(173, 162, 75, 0.25);
}

#refButton {
  scale: 1;
  transition: all 0.2s ease-in-out;
}

.refreshDropdown {
  background-color: #212126;
  color: #fafafa;
  font-weight: bold;
  font-size: 18px;
  border: #ada24b 2px solid;
  border-radius: 10px;

  padding-left: 5px;

  width: 200px;
  height: 50px;

  position: relative;
  right: 0;

  margin-top: 20px;
  margin-right: 20px;
}

.refreshDropdownInner {
  padding-left: 10px;
}

.cardRoundNr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.rightContainer {
  height: 130px;
}

.headerLogo {
  height: 65px;
  /* Example height */
  margin-right: 50px;
  margin-left: 25px;

  transform: translateY(20px);
}

.headerText {
  font-weight: bold;
  font-size: 30px;

  transform: translateY(-65px);
}

.refreshText {
  font-weight: bold;
  font-size: 18px;

  transform: translateY(-65px);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  /* Flexible card width */
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: #212126;
  border: #ada24b 2px solid;
  border-radius: 10px;
  /* Removed fixed width, let grid handle it */
  height: 130px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cardEmbed {
  background-color: #212126;
  border: #ada24b 2px solid;
  border-radius: 10px;
  /* Removed fixed width, let grid handle it */
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: auto;
  height: auto;
}

.serverRoundNr {
  font-weight: bold;
  font-size: 12px;
  color: #fafafa;

  position: relative;
  top: 0;
  right: 0;
}

.serverTags {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.serverTag {
  font-weight: bold;
  font-size: 16px;
  color: #fafafa;
  background-color: #262626;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;

  text-align: right;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #212126;
  color: #fafafa;
  font-weight: bold;
  font-size: 18px;
  border-top: #ada24b 2px solid;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  line-height: 0px;

  padding-top: -20px;
}

main {
  margin-bottom: 80px;
}

.versionText {
  font-size: 12px;
  color: #fafafa;
  margin-top: 10px;
}

.version {
  position: fixed;
  bottom: 85px;
  /* centered horizontally */
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 600px) {
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    height: 135px;
  }

  .rightContainer {
    display: none;
  }

  .headerText {
    display: none;
  }

  .refreshDropdown {
    display: none;
  }

  .refreshText {
    display: none;
  }

  .refresh {
    margin-left: calc(100vw - 120px);
  }
}

/* ipad optimisation */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .cardContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    height: 135px;
  }
}
