body {
  background-color: #262626;
  color: #fefefe;

}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  height: 100px;
  background-color: #212126;

  font-size: 20px;
}

.refresh {
  background-color: #212126;
  color: #fafafa;
  font-weight: bold;
  font-size: 18px;
  border: #ada24b 2px solid;
  border-radius: 10px;

  width: 100px;
  height: 50px;

  transform: translateY(-10px);

  position: relative;
  right: 0;

  margin-right: 50px;
  margin-left: 25px;
}

.headerLogo {
  height: 65px;
  /* Example height */
  margin-right: 50px;
  margin-left: 25px;

  transform: translateY(20px);
}

.headerText {
  font-weight: bold;
  font-size: 30px;

  transform: translateY(-65px);
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* Spacing between cards */
  padding: 20px;
}

.card {
  background-color: #212126;
  border: #ada24b 2px solid;
  border-radius: 10px;

  width: 500px;

  padding: 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.serverRoundNr {
  font-weight: bold;
  font-size: 12px;
  color: #fafafa;

  position: relative;
  top: 0;
  right: 0;
}

.serverTags {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.serverTag {
  font-weight: bold;
  font-size: 16px;
  color: #fafafa;
  background-color: #262626;
  border-radius: 5px;
  padding: 5px;

  position: relative;
  top: 0;
  right: 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #212126;
  color: #fafafa;
  font-weight: bold;
  font-size: 18px;
  border-top: #ada24b 2px solid;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  line-height: 0px;

  padding-top: -20px;
}